SAI RAINA
USC ID = 4650068238
Github Username = saitiger

# 1(a)

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os
import numpy as np
from tabulate import tabulate
import re
from scipy.stats import bootstrap

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

# 1(b)

Created different folders for training and testing data. Will use them for homework 4 (since in hw3 there is no use of split dataset). Have uploaded all files in one folder for this homework so that i can read all files from one folder. For time being have added a column in dataframe that stores consolidated data to denote from which file the data was read.

# 1(C) (i)
min,max,standard deviation,variance,autocorrelation,
augmented dickey fuller,partial autocorrelation,skewness,kurtosis,
coefficients of AR,MA model,entropy are some of the features 
that are commonly used for time series data.

# 1(C) (ii)

<!-- #     mean1 = st['avg_rss12'][0] # MEAN
#     stdev1 = st['avg_rss12'][1] # STD
#     mn1 = st['avg_rss12'][2] # MIN
#     firqt1 = st['avg_rss12'][3] # 25%
#     mdn1 = st['avg_rss12'][4] # MEDIAN(50%)
#     thrqt1 = st['avg_rss12'][5] # 75%
#     mx1 = st['avg_rss12'][6] # MAX
    
#     mean2 = st['var_rss12'][0] # MEAN
#     stdev2 = st['var_rss12'][1] # STD
#     mn2 = st['var_rss12'][2] # MIN
#     firqt2 = st['var_rss12'][3] # 25%
#     mdn2 = st['var_rss12'][4] # MEDIAN(50%)
#     thrqt2 = st['var_rss12'][5] # 75%
#     mx2 = st['var_rss12'][6] # MAX
#     print(stdev2)
    
#     name=file.split('\\')[-1].split('.')[0]
#     df['instance']=ins_num
#     list_df.append(df)
# print(instance)
# final_df = pd.concat(list_df,ignore_index=True)
# final_df2 = pd.concat(list_df) -->

In [2]:
files =[]
files = glob.glob(r'..\Data\*.csv')
# print(*files,sep='\n') # Printing name of all the files
print("Total Files Read : ",len(files)) # To check if all 88 datasets are read

Total Files Read :  88

In [3]:
list_df =[]
c = ['avg_rss12','var_rss12','avg_rss13','var_rss13','avg_rss23','var_rss23']
for file in files:
    df = pd.read_csv(file,skiprows=4,usecols=c)
    name = file.split('\\')[-1].split('.')[0] # Name of dataset
    st = df.describe().drop('count').transpose()
    instance = pd.concat([st.loc['avg_rss12'],st.loc['var_rss12'],st.loc['avg_rss13'],st.loc['var_rss13'],st.loc['avg_rss23'],
                          st.loc['var_rss23']],axis=0, sort=False)
    instance = instance.to_frame().transpose()
    instance.columns = ['Min_1','Max_1','Mean_1','Median_1','Std_1','FirstQuartile_1', 'ThirdQuartile_1',
                        'Min_2','Max_2','Mean_2','Median_2','Std_2','FirstQuartile_2', 'ThirdQuartile_2',
                        'Min_3','Max_3','Mean_3','Median_3','Std_3','FirstQuartile_3', 'ThirdQuartile_3',
                        'Min_4','Max_4','Mean_4','Median_4','Std_4','FirstQuartile_4', 'ThirdQuartile_4',
                        'Min_5','Max_5','Mean_5','Median_5','Std_5','FirstQuartile_5', 'ThirdQuartile_5',
                        'Min_6','Max_6','Mean_6','Median_6','Std_6','FirstQuartile_6', 'ThirdQuartile_6']
    instance['File Name'] = name # Column representing name of dataset
    list_df.append(instance)
    final_df = pd.concat(list_df)

# Creating instance number as index

final_df['instance'] = np.arange(start = 1,stop = len(final_df)+1)
final_df.set_index('instance',inplace=True)

final_df.fillna(value=0,inplace=True) # Imputed NaN's with 0.
final_df

,Min_1,Max_1,Mean_1,Median_1,Std_1,FirstQuartile_1,ThirdQuartile_1,Min_2,Max_2,Mean_2,...,FirstQuartile_5,ThirdQuartile_5,Min_6,Max_6,Mean_6,Median_6,Std_6,FirstQuartile_6,ThirdQuartile_6,File Name
instance,,,,,,,,,,,,,,,,,,,,,
1,36.819521,3.900459,27.00,33.7500,36.00,40.2500,45.00,2.600146,1.821404,0.0,...,19.27,24.67,2.887563,1.723094,0.0,1.56,2.525,3.7700,8.99,dataset10c
2,27.716375,1.442253,23.50,27.0000,27.50,29.0000,30.00,0.363687,0.394817,0.0,...,10.75,21.00,0.735396,0.612834,0.0,0.43,0.710,1.0000,4.50,dataset10l
3,40.219271,2.741217,35.25,37.7500,39.25,42.5000,48.50,0.617479,0.485417,0.0,...,19.75,27.33,1.057729,1.025925,0.0,0.47,0.830,1.3000,6.36,dataset10sit
4,42.419917,2.520129,36.00,41.3300,42.67,44.6175,45.80,0.460562,0.387405,0.0,...,12.00,22.00,1.226271,0.891988,0.0,0.50,1.090,1.5850,6.65,dataset10stand
5,34.253521,4.940741,21.50,30.9375,35.00,37.7500,51.25,4.457896,2.387192,0.0,...,18.00,24.25,3.500750,1.692378,0.0,2.18,3.285,4.5575,8.32,dataset10w
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,37.144833,3.758904,27.75,34.0000,36.33,40.5000,44.67,2.419062,1.643175,0.0,...,18.75,23.00,2.822437,1.637183,0.0,1.58,2.590,3.7400,8.75,dataset9c
85,47.325125,5.961280,39.00,42.0000,42.67,54.0000,56.25,0.274313,0.562729,0.0,...,18.00,21.00,0.766167,0.723953,0.0,0.43,0.500,1.0000,5.72,dataset9l
86,43.190854,1.230345,41.75,42.0000,42.50,44.5000,46.50,0.266271,0.271588,0.0,...,18.33,22.00,0.806229,0.645476,0.0,0.43,0.820,1.0900,5.45,dataset9sit
87,45.399625,1.328121,36.33,45.0000,45.50,46.3300,47.67,0.460146,0.269889,0.0,...,14.50,19.75,0.795104,0.503007,0.0,0.47,0.820,1.0000,4.50,dataset9stand
88,34.225875,4.441798,15.50,31.2500,34.75,37.2500,43.67,4.354500,2.518991,0.0,...,18.25,24.00,3.479542,1.761146,0.0,2.24,3.270,4.5375,9.42,dataset9w

In [4]:
std_features = final_df.std()
std = pd.DataFrame(std_features,columns=['Standard Deviation'])
print("Standard Deviation for all time domain features : ")
std

Standard Deviation for all time domain features :

                 Standard Deviation
Min_1                      6.695044
Max_1                      1.790065
Mean_1                    10.057319
Median_1                   7.264299
Std_1                      6.777133
FirstQuartile_1            6.665176
ThirdQuartile_1            6.414651
Min_2                      1.576651
Max_2                      0.887141
Mean_2                     0.000000
Median_2                   0.946386
Std_2                      1.412244
FirstQuartile_2            2.129681
ThirdQuartile_2            5.075845
Min_3                      4.239378
Max_3                      1.020560
Mean_3                     2.956462
Median_3                   4.358157
Std_3                      4.282748
FirstQuartile_3            4.500988
ThirdQuartile_3            5.378333
Min_4                      1.172682
Max_4                      0.470070
Mean_4                     0.000000
Median_4                   0.843620
Std_4                      1.150647
FirstQuartile_4            1.561101
ThirdQuartile_4            2.286737
Min_5                      5.922424
Max_5                      1.075627
Mean_5                     6.105679
Median_5                   6.261858
Std_5                      6.062462
FirstQuartile_5            5.873341
ThirdQuartile_5            6.298931
Min_6                      1.163619
Max_6                      0.526150
Mean_6                     0.045838
Median_6                   0.763300
Std_6                      1.094605
FirstQuartile_6            1.535377
ThirdQuartile_6            2.611423

In [5]:
# Checking if computation of all the metrics is correct by cross checking with one dataset.
col = ['avg_rss12','var_rss12','avg_rss13','var_rss13','avg_rss23','var_rss23']
d = pd.read_csv(r'..\Data\dataset9w.csv',skiprows=4,usecols=col)

stat = d.describe().drop('count')
mean1 = stat['avg_rss12'][0] # MEAN
stdev1 = stat['avg_rss12'][1] # STD
mn1 = stat['avg_rss12'][2] # MIN
firqt1 = stat['avg_rss12'][3] # 25%
mdn1 = stat['avg_rss12'][4] # MEDIAN(50%)
thrqt1 = stat['avg_rss12'][5] # 75%
mx1 = stat['avg_rss12'][6] # MAX

col_names = ["Instance","Mean","Standard Deviation", "Min","First Quartile","Median","Third Quartile","Max"]

table_data = [[0,mean1,stdev1,mn1,firqt1,mdn1,thrqt1,mx1]]
        
print(tabulate(table_data, headers=col_names, tablefmt="grid",floatfmt=".7f"))

+------------+------------+----------------------+------------+------------------+------------+------------------+------------+
|   Instance |       Mean |   Standard Deviation |        Min |   First Quartile |     Median |   Third Quartile |        Max |
+============+============+======================+============+==================+============+==================+============+
|          0 | 34.2258750 |            4.4417976 | 15.5000000 |       31.2500000 | 34.7500000 |       37.2500000 | 43.6700000 |
+------------+------------+----------------------+------------+------------------+------------+------------------+------------+

# 1 (c) (iii)

In [6]:
final_df2 = final_df.drop('File Name',axis=1)
final_df2.reset_index(inplace=True)
final_df2 = final_df2.drop('instance',axis=1)

res = bootstrap((final_df2,),np.std,confidence_level=0.9,random_state=0,method='basic')
ci = res.confidence_interval
ci_df = pd.DataFrame()
ci_df["Name"] = ['Min_1','Max_1','Mean_1','Median_1','Std_1','FirstQuartile_1', 'ThirdQuartile_1',
                        'Min_2','Max_2','Mean_2','Median_2','Std_2','FirstQuartile_2', 'ThirdQuartile_2',
                        'Min_3','Max_3','Mean_3','Median_3','Std_3','FirstQuartile_3', 'ThirdQuartile_3',
                        'Min_4','Max_4','Mean_4','Median_4','Std_4','FirstQuartile_4', 'ThirdQuartile_4',
                        'Min_5','Max_5','Mean_5','Median_5','Std_5','FirstQuartile_5', 'ThirdQuartile_5',
                        'Min_6','Max_6','Mean_6','Median_6','Std_6','FirstQuartile_6', 'ThirdQuartile_6']

ci_df["Lower Bound"] = ci[0]
ci_df["Upper Bound"] =ci[1]

print("Confidence Interval")
ci_df

Confidence Interval

               Name  Lower Bound  Upper Bound
0             Min_1     4.583912     8.490448
1             Max_1     1.601973     1.983027
2            Mean_1     8.724202    11.384711
3          Median_1     5.469722     8.752769
4             Std_1     4.700582     8.554630
5   FirstQuartile_1     4.321843     8.789819
6   ThirdQuartile_1     3.541813     9.276609
7             Min_2     1.436524     1.746342
8             Max_2     0.824366     0.964485
9            Mean_2     0.000000     0.000000
10         Median_2     0.852527     1.056963
11            Std_2     1.274035     1.578855
12  FirstQuartile_2     1.948668     2.348179
13  ThirdQuartile_2     4.710658     5.480430
14            Min_3     3.612733     4.887163
15            Max_3     0.823780     1.223500
16           Mean_3     2.791609     3.139736
17         Median_3     3.800397     4.958033
18            Std_3     3.634454     4.955419
19  FirstQuartile_3     3.771654     5.247963
20  ThirdQuartile_3     4.361058     6.359585
21            Min_4     1.108031     1.257926
22            Max_4     0.433380     0.507825
23           Mean_4     0.000000     0.000000
24         Median_4     0.791359     0.908837
25            Std_4     1.087298     1.234891
26  FirstQuartile_4     1.474839     1.673326
27  ThirdQuartile_4     2.038137     2.528485
28            Min_5     4.825816     7.156119
29            Max_5     0.866830     1.300062
30           Mean_5     4.672601     7.812955
31         Median_5     5.130687     7.525864
32            Std_5     4.934077     7.343073
33  FirstQuartile_5     4.788985     7.068526
34  ThirdQuartile_5     5.160663     7.471728
35            Min_6     1.094775     1.248915
36            Max_6     0.490855     0.563607
37           Mean_6     0.013125     0.091154
38         Median_6     0.709728     0.827337
39            Std_6     1.025910     1.179337
40  FirstQuartile_6     1.446348     1.648673
41  ThirdQuartile_6     2.333752     2.886060

# 1(c) (iv)

The three features that I selected are min,max and standard deviation. Min and max will help in determing the spread,range of the data while standard deviation will account for variability.

# 2 
Answers for the questions from ISLR are uploaded as a pdf in the notebook folder.

References : 

https://tsfresh.readthedocs.io/en/latest/text/list_of_features.html

https://www.statology.org/bootstrapping-in-python/

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.bootstrap.html

https://stats.stackexchange.com/questions/50807/features-for-time-series-classification

https://towardsdatascience.com/a-brief-introduction-to-time-series-classification-algorithms-7b4284d31b97